<%=@post.title%>
<%if @post.comments.empty?%>
<p>No comments yet</pt>

  <%else%>
<ul>
  <%@post.comments.each do |comment|%>

    <li><%=comment.body%><ul><li>posted by:<%=comment.user.username%></li><li>posted at:<%=comment.created_at%></li></ul></li>
    <ul><li> <% if !comment.voted_on?(current_user) %>
     <a class="commentvote" href="<%=comment.id%>"><img id="upvote-arrow" src="https://www.reddit.com/static/aupgray.gif"></a>
      <span class="votecount"><%=comment.commentvotes.length%></span>
     <%else%>
     <span><%=post.postvotes.length%></span> </a>
     <% end %></li></ul>
    <%end%>

</ul>
<%end%>

<h3>Leave a comment</h3>

<p>
  <form method="POST" action="/comments"><br>
   <input type="text" name="body"><br>
   <input type="hidden" value="<%=@post.id%>" name="post_id">
   <input type="submit" value="submit!">
  </form>
</p>


